---
- name: Ensure other nameservers are not installed
  apt:
    name: "{{ item }}"
    state: absent
    purge: true
  with_items:
    - bind9
    - pdns-recursor

- name: Disable systemd-resolved
  service: name=systemd-resolved state=stopped enabled=no
  when: ansible_distribution_release == "bionic"

- name: Install unbound
  apt:
    name: unbound
    state: present

- name: Configure unbound
  template:
    src: "unbound.conf.j2"
    dest: /etc/unbound/unbound.conf
  notify: reload unbound

- name: Start and enable unbound
  service:
    name: unbound
    state: started
    enabled: true

- name: Add /etc/resolv.conf
  copy:
    src: resolv.conf
    dest: /etc/resolv.conf
