#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0;
        policy drop;
        iifname lo accept;
        ct state established,related accept;
        tcp dport ssh accept;
{% for master in munin_masters|ipv4|default([]) %}
        tcp dport 4949 ip saddr {{ master }} accept; # munin
{% endfor %}
{% for master in munin_masters|ipv6|default([]) %}
        tcp dport 4949 ip6 saddr {{ master }} accept; # munin
{% endfor %}
{% if 'input' in nftables %}
{%   for rule in nftables.input %}
{%     if not 'saddr' in rule %}
        {{ rule.proto }} dport {{ rule.dport }} accept; # {{ rule.name }}
{%     elif rule.saddr|ipv4 %}
        {{ rule.proto }} dport {{ rule.dport }} ip saddr {{ rule.saddr }} accept; # {{ rule.name }}
{%     elif rule.saddr|ipv6 %}
        {{ rule.proto }} dport {{ rule.dport }} ip6 saddr {{ rule.saddr }} accept; # {{ rule.name }}
{%     endif %}
{%   endfor %}
{% endif %}
    }
    chain forward {
        type filter hook forward priority 0;
    }
    chain output {
        type filter hook output priority 0;
    }
}
