- hosts: ringnode
  tasks:
    - include_vars: "vault/ringnode.yml"
  tags:
    - always

- hosts: infranode
  tasks:
    - include_vars: "{{ item }}"
      with_first_found:
        - "vault/{{ inventory_hostname}}.yml"
        - "vault/infranode.yml"
  tags:
    - always

- import_playbook: ubuntu_upgrade.yml
  when: '"ringnode" in group_names and ansible_distribution_release != "jammy"'

- hosts: all
  become: true
  become_user: root
  roles:
    - { role: apt, tags: apt }
    - { role: resolving, tags: resolving }
    - { role: etcfiles, tags: etcfiles }
    - { role: syslog, tags: syslog }
    - { role: sysctl, tags: sysctl }
    - { role: lang, tags: lang }
    - { role: ansible, tags: ansible }
    - { role: software, tags: software }
    - { role: ntp, tags: ntp }
    - { role: motd, tags: motd }
    - { role: munin-node, tags: munin-node }
    - { role: dhcp, tags: dhcp }
    - { role: fail2ban, tags: fail2ban }
    - { role: postfix, tags: postfix }
    - { role: userscripts, tags: userscripts }
    - { role: adminscripts, tags: adminscripts }
    - { role: users, class: ring-admins, tags: ring-admins }
    - { role: users, class: local, tags: local-users }
    - { role: openssh, tags: openssh }

- hosts: ringnode:auth.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: users, class: ring-users, tags: ring-users }

- hosts: ringnode:~staging[0-9]*\.ring\.nlnog\.net
  become: true
  become_user: root
  roles:
    - { role: nginx, tags: nginx }
    - { role: ring_health, tags: ring_health }
    - { role: scamper, tags: scamper }
    - { role: ripe-atlas, tags: ripe-atlas }
    - { role: ring_sqa, tags: ring_sqa }
    - { role: ringfpingd, tags: ringfpingd }

- hosts: infranode
  become: true
  become_user: root
  roles:
    - { role: nftables, tags: nftables }
    - { role: backup-client, tags: backup-client }

- hosts: ~container[0-9]*\.infra\.ring\.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: container, tags: container }

- hosts: compute01.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: apache2, tags: apache2 }
    - { role: munin-master, tags: munin-master }

- hosts: lg02.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: ansible, tags: ansible, mitogen: no }
    - { role: openbgpd, tags: openbgpd }

- hosts: public02.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: haproxy, profile: relay, tags: haproxy }
    - { role: inframail, tags: inframail }

- hosts: public03.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: letsencrypt, tags: letsencrypt }
    - { role: mysql, tags: mysql }
    - { role: apache2, tags: apache2 }
    - { role: pdns-server, tags: pdns-server }
    - { role: map, tags: map }
    - { role: apt-repository, tags: apt-repository }

- hosts: public04.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: letsencrypt, tags: letsencrypt }
    - { role: mysql, tags: mysql }
    - { role: apache2, tags: apache2 }
    - { role: hugo, tags: hugo }
    - { role: paster, tags: paster }

- hosts: public05.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: letsencrypt, tags: letsencrypt }
    - { role: apache2, tags: apache2 }
    - { role: nlnog-lg, tags: nlnog-lg }

- hosts: backup.infra.ring.nlnog.net:storage01.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: backup-server, tags: backup-server }

- hosts: auth.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: ring_auth, tags: ring_auth }

- hosts: dbmaster.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: letsencrypt, tags: letsencrypt }
    - { role: mysql, tags: mysql }
    - { role: apache2, tags: apache2 }
    - { role: ring_api, tags: ring_api }

- hosts: dbbackup.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: letsencrypt, tags: letsencrypt }
    - { role: mysql, tags: mysql }
    - { role: apache2, tags: apache2 }
    - { role: ring_api, tags: ring_api }

- hosts: staging02.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: mysql, tags: mysql }
    - { role: apache2, tags: apache2 }
    - { role: sqa-collector, tags: sqa-collector }
