- hosts: all
  become: true
  become_user: root
  roles:
    - { role: etcfiles, tags: etcfiles }
    - { role: apt, tags: apt }
    - { role: ansible, tags: ansible }
    - { role: software, tags: software }
    - { role: ntp, tags: ntp }
    - { role: motd, tags: motd }
    - { role: dhcp, tags: dhcp }
    - { role: fail2ban, tags: fail2ban }
    - { role: userscripts, tags: userscripts }
    - { role: adminscripts, tags: adminscripts }
    - { role: users, class: ring-admins, tags: ring-admins }
    - { role: users, class: local, tags: local-users }

- hosts: ringnode:auth.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: users, class: ring-users, tags: ring-users }

- hosts: ringnode
  become: true
  become_user: root
  roles:
    - { role: nginx, tags: nginx }
    - { role: scamper, tags: scamper }
    - { role: ripe-atlas, tags: ripe-atlas }
    - { role: ring_sqa, tags: ring_sqa }


- hosts: lg01.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: users, class: ring-users, user_shell: /usr/local/bin/birdshell, tags: ring-users }

- hosts: public02.infra.ring.nlnog.net
  become: true
  become_user: root
  roles:
    - { role: haproxy, profile: github, tags: haproxy }

