# {{ ansible_managed }}

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	maxconn 4096
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	tcp
	option	tcplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	timeout connect 5000
	timeout client 50000
	timeout server 50000

listen github-ssl-relay
    bind    {{ proxy_github }}:443
    mode    tcp
    option  ssl-hello-chk
    server  github github.com:443

listen pypi-ssl-relay
    bind    {{ proxy_pypi }}:443
    mode    tcp
    option  ssl-hello-chk
    server  pypi pypi.python.org:443

listen pythonhosted-ssl-relay
    bind    {{ proxy_pythonhosted }}:443
    mode    tcp
    option  ssl-hello-chk
    server  pythonhosted files.pythonhosted.org:443
