# config file for ansible -- https://ansible.com/
# ===============================================

[defaults]
# Configure mitogen strategy plugin
strategy_plugins = /opt/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen
log_path=/var/log/ansible/ansible.log

[privilege_escalation]

[paramiko_connection]

[ssh_connection]

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.  
# If the connection doesn't receive a request before the timeout value 
# expires, the connection is shutdown.  The default value is 30 seconds.
connect_timeout = 30

# Configures the persistent connection retries.  This value configures the
# number of attempts the ansible-connection will make when trying to connect
# to the local domain socket.  The default value is 30.
connect_retries = 30

# Configures the amount of time in seconds to wait between connection attempts 
# to the local unix domain socket.  This value works in conjunction with the
# connect_retries value to define how long to try to connect to the local
# domain socket when setting up a persistent connection.  The default value is
# 1 second.
connect_interval = 1

[accelerate]

[selinux]

[colors]

[diff]
