AS 199036

socket "/var/run/bgpd.rsock.0" restricted

fib-update no
reject as-set no

rtr 127.0.0.1

group "peers" {
    multihop 255
    export none
    role customer

{% for peer in lg_peers %}
{% if lg_peers[peer].ipv4|default(None) %}
    neighbor {{ lg_peers[peer].ipv4 }} {
        descr "{{ peer }}-v4"
        remote-as {{ lg_peers[peer].asn }}
    }
{% endif %}
{% if lg_peers[peer].ipv6|default(None) %}
    neighbor {{ lg_peers[peer].ipv6 }} {
        descr "{{ peer }}-v6"
        remote-as {{ lg_peers[peer].asn }}
    }
{% endif %}
{% endfor %}
}

group "readonly_peers" {
    multihop 255
    #announce add-path send all

{% for peer in readonly_peers %}
{% if readonly_peers[peer].ipv4|default(None) %}
    neighbor {{ readonly_peers[peer].ipv4 }} {
        descr "firehose-{{ peer }}-v4"
        remote-as {{ readonly_peers[peer].asn }}
    }
{% endif %}
{% if readonly_peers[peer].ipv6|default(None) %}
    neighbor {{ readonly_peers[peer].ipv6 }} {
        descr "firehose-{{ peer }}-v6"
        remote-as {{ readonly_peers[peer].asn }}
    }
{% endif %}
{% endfor %}
}

group "aspa_test" {
    multihop 255
    #announce add-path send best plus 2
    remote-as 15562
    neighbor 45.138.228.4
    neighbor 2a10:3781:276::1
}

# allow anything from regular peers, but never send them any route
# the send filter is here for protection, by default peers use export none
allow from group peers
deny to group peers

# send everything to firehose peers, accept nothing
deny from group readonly_peers
allow to group readonly_peers

# # send to ASPA testbed
deny from group aspa_test
allow to group aspa_test
