AS 199036

fib-update no
reject as-set yes

rtr 127.0.0.1

group "peers" {
    multihop 255

{% for peer in lg_peers %}
{% if lg_peers[peer].ipv4|default(None) %}
    neighbor {{ lg_peers[peer].ipv4 }} {
        descr "{{ peer }}-v4"
        remote-as {{ lg_peers[peer].asn }}
    }
{% endif %}
{% if lg_peers[peer].ipv6|default(None) %}
    neighbor {{ lg_peers[peer].ipv6 }} {
        descr "{{ peer }}-v6"
        remote-as {{ lg_peers[peer].asn }}
    }
{% endif %}
{% endfor %}
}

group "readonly_peers" {
    multihop 255
    announce add-path send all

{% for peer in readonly_peers %}
{% if readonly_peers[peer].ipv4|default(None) %}
    neighbor {{ readonly_peers[peer].ipv4 }} {
        descr "firehose-{{ peer }}-v4"
        remote-as {{ readonly_peers[peer].asn }}
    }
{% endif %}
{% if readonly_peers[peer].ipv6|default(None) %}
    neighbor {{ readonly_peers[peer].ipv6 }} {
        descr "firehose-{{ peer }}-v6"
        remote-as {{ readonly_peers[peer].asn }}
    }
{% endif %}
{% endfor %}
}

# allow anything from regular peers, but never send them any route
deny quick to group peers
allow from group peers

# send everything to firehose peers, accept nothing
deny quick from group readonly_peers
allow to group readonly_peers
