# run ansible deploy
6,21,36,51 * * * * ringforger chronic /usr/local/bin/ring-admin ansible deploy >/dev/null 2>/dev/null

# run ansible report
22 10 * * * ringforger /usr/local/bin/ring-admin ansible report >/dev/null

