# ringfpingd.conf

# My own name
myname       = 'ringfping'
# Graphite Server running UDP listener
server       = 'graphite02.infra.ring.nlnog.net'
# Graphite UDP Listener Secret key
key          = '{{ graphite_key }}'
# Secret key type (none|sha1)
keytype      = 'sha1'
# Root of Server metric tree
dispatch_root= 'nlnog.ring.ping'
# Maximum number of threads (excluding boss)
maxthreads   = 25
# Interval in seconds between pings
pinginterval = 600
# Interval in seconds to re-read the hosts file (1 hr)
hostinterval = 3600 

