# Configure logging
#log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
#log stderr all;
#log "tmp" all;

router id {{ ansible_default_ipv4['address'] }}; 

#mrtdump "/var/run/mrtdump4";
#mrtdump protocols all;

timeformat protocol iso long;

include "/etc/bird/rpki-ipv4.conf";

filter lookingglass_in {
    # prefer to expose non-AS23456 paths as primary path when available
    if (bgp_path.last = 23456) then {
        bgp_local_pref = 10;
    }

    # ignore defaults
    if ( net = 0.0.0.0/0 ) then {
        reject;
    }

    # scrub Origin Validation State Extended Community
    bgp_ext_community.delete((unknown 0x4300, 0, 0));
    bgp_ext_community.delete((unknown 0x4300, 0, 1));
    bgp_ext_community.delete((unknown 0x4300, 0, 2));

    # set RPKI Origin Validation State Extended Community
    flag_rpki_state();

    # accept rest
    accept;
}

template bgp peers {
    local as 199036;
    multihop;
    hold time 240;
    keepalive time 60;
    startup hold time 240;
    connect retry time 120;
    start delay time 5;             # How long do we wait before initial connect
    error forget time 0;            # ... until this timeout expires)
    source address {{ ansible_default_ipv4['address'] }};   # What local address we use for the TCP connection
    import filter lookingglass_in;
    export none;
}

{% for peer in lg_peers %}
{% if lg_peers[peer].ipv4|default(None) %}
protocol bgp {{ peer }} from peers {
    description "{{ peer }}";
    neighbor {{ lg_peers[peer].ipv4 }} as {{ lg_peers[peer].asn }};
}

{% endif %}
{% endfor %}

{% for peer in readonly_peers %}
{% if readonly_peers [peer].ipv4|default(None) %}
protocol bgp {{ peer }} {
    neighbor {{ readonly_peers[peer].ipv4 }} as {{ readonly_peers[peer].asn }};
    add paths;
    multihop;
    local as 199036;
    hold time 240;
    keepalive time 60;
    startup hold time 240;
    connect retry time 120;
    start delay time 5;
    error forget time 0;
    source address {{ ansible_default_ipv4['address'] }};
    import none;
    export all;
}
{% endif %}
{% endfor %}
