user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server_tokens off;
    server_name_in_redirect off;
    server {
        listen [::]:80 ipv6only=off;
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        # ring-health output
        location ~ ^/status.json$ {
            root /var/www/ring;
        }

        location ~ ^/rpki.json$ {
            alias /var/lib/rpki-client/json;
        }

        location / {
            return 301 https://ring.nlnog.net/;
        }
    }
    include sites-enabled/*;
}
