# Managed by Ansible

config-dir=/etc/powerdns
daemon=yes
primary=yes
secondary=yes
disable-axfr=no
allow-axfr-ips={{ ansible_default_ipv4['address'] }},{{ ansible_default_ipv6['address'] }},78.47.208.123,2a01:4f8:c0c:1b26::2,129.250.35.229,69.36.249.35,129.250.31.21,213.130.47.21,116.51.22.180,2001:418:3ff:4::11,2001:1868:104::101,2001:418:0:700b::201,2001:728:0:7000::201,2001:218:4000:9::180
allow-notify-from={{ ansible_default_ipv4['address'] }},{{ ansible_default_ipv6['address'] }},78.47.208.123,2a01:4f8:c0c:1b26::2
guardian=yes
launch=gmysql
gmysql-host=localhost
gmysql-dbname=pdns
gmysql-user=pdns
gmysql-password={{ pdns_password }}
gmysql-dnssec=yes
# lazy-recursion=yes
local-address={{ ansible_default_ipv4['address'] }},{{ ansible_default_ipv6['address'] }}
local-port=53
# module-dir=/usr/lib/powerdns
setgid=pdns
setuid=pdns
socket-dir=/var/run/pdns
version-string=powerdns
zone-cache-refresh-interval=0
