# Ansible callback module for NLNOG RING
#

import requests
from ansible.plugins.callback import CallbackBase

class CallbackModule(CallbackBase):
  CALLBACK_VERSION = 2.0
  CALLBACK_TYPE = 'notification'
  CALLBACK_NAME = 'ring'
  CALLBACK_NEEDS_WHITELIST = False
  def playbook_on_stats(self, stats):
    for host in stats.processed.keys():
      data = str(stats.summarize(host))
      try:
        requests.post("{{ callback_url }}",data=data)
      except requests.exceptions.ConnectionError:
        pass
  

