GROUPS:
  ring-admins:
    gid: 6000
    sudo: true
  ring-users:
    gid: 5000
  admin:
    gid: 99
    sudo: true

USERS:
  job:
    state: present
    company: 'Job Snijders'
    email: job@instituut.net
    uid: 6001
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA4Ejc9Q/RwP5rEY51RdKY3BHpXWYSmePBoppyEjJR5t+/rD7Q2pwbsbrgIm960TpqnOf8ExTje5fCj9yosvqFPgt6K2Tp/9WDkCxMfPj7Fc2rVCFxoTaa2tM/xCgYQpcp+adH/GI0lCsC07FFUHI4+81YLJsxxBm/QExB2gqVZCMH5j+s8q2iWMEQMyXtOdU02/EilUcAcUhPAgoT+U7OG/6bsrBBbVHegQs6uNHfuJtQMh/mmDAeo+qGqBsAIKMtc5H9VGaXNg7jd6wvn8+3EYQ+B1B7NKxEZt/xtWKK4fSdfWiyQY8ZJlGKHrI60dyrW2yKuqcyX3W2hUSQQzp9rQ== job@instituut.net-nlnogring-2011"

  martin:
    state: present
    company: 'Martin Pels'
    email: martin@rodecker.nl
    uid: 6002
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArZl+3qDiBGF4v3fszgwFti5e4xVoY1fbXsqpAZmbZm1pbSlpJBsHc6ObrxepypoRik5JuiuAoLVFBziEq3m+GgMnUHYbdSBeqHJloa3bIdy8byVGowIYwV4zZyRCwEYuvto7xfUScCSgboBoHs+hU58kyYQxwWRZVCIhEMSIYlwHDCR3juHV1Z50XxgZEJgZeyKxGL4oeeLq9zbQDQxhglygia7nPXUVh+4Z2w6S7oS8prJH5saOg5ixtnBP3isQ5/WOwdAJrcu30s+4P6eWvcJQVtRNZDJyNCctkjCPaN2PVNRvhEu6oeWptwb/pek6LSwmKvUETUHz4W4FKHCKPw== martin@rodecker.nl"

  edwin:
    state: absent

  peter:
    state: present
    company: "Peter van Dijk"
    email: peter+ring@7bits.nl
    uid: 6004
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDji9oyRQ0EU3F8UkEtfnrn5R2kv/yBOpDUUirfcgMFvyyffT7yagX4hG6DM15LDFYLsG41Jz7AlHyEOVmmh2/4dY3117yCYwAb99UlGOThJFXhYpzeXNmEK4JH/jqV1CreNu30X2gVD1JqTqn3kK/XkgD66AABBIDHZ3bdbikgj/FlNiS7TPJOpoOfotCDL+E/QA25v21zJJXmp69r3laNr4QYvE4VDK/IjiNVY6fb3lhGQJ6rLla2O9E7v0ooIL5tuYnC13pZK0wDVjBo1MSqQNc+QNG849XssXGo3MrGN7syU6CEiMsXlB0bnuJFNykf4AoDZUah6mLYrnNngmZf peter@marconi.local"

  lieter:
    state: present
    company: "Pieter Lexis"
    email: pieter+nlnog-ring@plexis.eu
    uid: 6005
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - 'ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEJUWfeP3PFDrbtZHN40ukmId28mr08mxo2qYaHc3FxLQqZ5mimChxe4KcSZWBgdfheRGIMROTVKcMfnsaorVUA= pieter@aardbei.mobile.plexis.eu'
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBC+hdM7tLIfBlcM0kbTfLB58ufbFs4/5/7wvouBUhPX lieter@aardbei.mobile.plexis.eu'
      - 'ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDFvrscfrTJEq8X8kEk1SeXwrbN2uKUwcdGH2GSegWZoWMmrA5hhKvt0IlXRxdpYEjs4rT19nE35gSIBfF2EfYA= lieter@ananas.home.plexis.eu'
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINMMEIwWGy839tCt7GJjs2XagCdsXL5TZGnj0kceDccY lieter@ananas.home.plexis.eu'

  grizz:
    state: absent

  sander:
    state: present
    company: "Sander Smeenk"
    email: ssmeenk@freshdot.net
    uid: 6007
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKeXDbFKwc1yIC/8zqhZATAfy55kNUzXEWpVPyiD224b sanders@fdi-20170319'
      - 'ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAAOTrY8+S3OKrTgF2WObWd0jiiV+TiZQlhjswFZMd2IN8wtK4omhYLenOZ7M2cQk0JU4tJ0RmAPmfp/EwCr0fRAhwCNz57DhOwyoMeQnMHUCt0H4SBBePcoGBoxivtJ+2EGyNdOL3Tq72WGMiBRFm9zxX1hy4ggEbZXzMqsbEYDunTpBQ== sanders@haze'

  arjen:
    state: present
    company: "Arjen Zonneveld"
    email: arjen@bz2.nl
    uid: 6008
    shell: /bin/bash
    groups:
      - ring-admins
      - ring-users
    sshkeys:
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN6hHF8fy+vZ2wcxndGsX48wVWiKuYP2S17B6dloZywe sunfield@caprica.local'
      - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCsRhs9iY8ZxEYrTRjg5BbK7rbzHMlqbK/v5qwPjEQ6/zqBkzoqQgdO1ydveEVGJj/nZbTZWQ6uNnSRKCjMl1L+tVXtVsbnVpvNtccpC/kdPu1v8Qj+5fvfHBEIPPpA4RNZeSS/jbe5IgbMcVDh7R8FrSgxTifJijpYq0VRb/3EsKQgvVvg+7PgN3y8mzK8WgckTy5i1nU0R6J6pIftIllj/vZzn5e9vibVWmmcTR8C76Eefu99aGOK8Kw/3bEjPaDug5MHREOb2zUFSBj2OJF73LQktUP0fgnlMIYN9fIADcVzJ8fCwFLyk3Lq3MM3o6Kgfl9dyWziItJ0/1PlMYN1l6+qF8VQLXQpT+4+BS8QnKVDFJJWE3Woims1HFoCTL6bFOkH/iUHG5egPkxBTjpvu19a4xxALp0d+WkvKWcEkK9ZrAVSr3CIPDhtyL0a0/mgX24b/X8TL5o09nHHSWggtLaWkt4wRmRapPuif3dHXh+G8lRdhSucehYCrKJA4AStNE7PwqNMtSPpc3m6l9Twe0XUzbMVoliF98fnLiIkWqf1uvj1TJluGxW980r3Ya5B/ocJmhiDONNenBOVtosb1Xis/nadPWc0Udxk/f/FZ9+rdwXCo5OFUsMheE1bGStU5GHXymvsk4WLxb/iytQymCPcBv/QQu54z4PKhpdcYw== sunfield@caprica.local'

  leopold:
    state: present
    company: "Leopold Schabel"
    email: ring@leoluk.de
    uid: 6009
    shell: /bin/bash
    groups:
      - ring-users
    sshkeys:
      - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDUUJrDp3xdU9mumOMFQiDxL5rNRo7nVTrkVNPdx077u3mOX6Xy0vlr4BL2MA0cR5lRe2HNp1JBlPoinrFJDAK9uLSupZ+lycgcEPbtaz7FV/HAKtSJ5sOC95kA935GvV9/XsbdHcWhNilkPMe0bRUDoTGMFNc1YAaJfYnD2jAoJtfPR7Yswktp0TfBuTDSl7m6Bj50VPjRSd6Tj+WURI+X94hWnNd4Q9Iv7vQZ3bq7pFZAogK0hb+FBT9NaU57NnerCNpFCmgIVSwYevdeh610imA7d00bzjoY57NhqqRGDKLdg8y3JKvjFrVTn2gdoYyRy/CzyRFipHWwU0b6vlOV leopold'

  teun:
    state: present
    company: "Teun Vink"
    email: teun@teun.tv
    uid: 6010
    shell: /bin/bash
    groups:
      - ring-users
      - ring-admins
    sshkeys:
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKrPWz+Fzk2z6agtffM3g5c4Ygm8wWtj5kLCvhGwoX/o teun@ishamael.local'

  niels:
    state: present
    company: "Niels Bakker"
    email: niels=nlnog-ring@bakker.net
    uid: 6011
    shell: /bin/bash
    groups:
      - ring-users
      - ring-admins
    sshkeys:
      - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDE521tanRWXYyZYcd1/KKw0M1j14rkbk680mQ4xnaxsGAaoEfZPHeb2+goeFC0Av0znCXyjvzxUQ/lDLZhjYpjVP0zV3NWOIzupOWQ97RhhHnT2zCn+7GGRR7AZMy9LzJsD0uvIQCX79bLJsyqzgZj55Hevy+RSqic16rd2t9Qi8wVRfEhuNs1e7fQoHaC68fniHov/QphzoqU1b9whddspaiyt2+ukEAnVZuREPWOmgsp0YI4mKlyaF5vxWkPVMjBYA2OgyfJ8AAJvLSPxXBmNOkyVljIi6FzY9ku0JdFVpHKx2lGIV/8ht0tvbeMhwu3qgQEl78Uq2/fU7ViYLzXE6euXlymmcHWCQxn9ylJgCN5/66aavme70aspOQP7PCY7ET4DuU84ZoJSx02nBBiT0iqG8h2heXPgPx1EClau/hkHEl4G742e12p+eCZOsb5ch50W26qATQQVpdK1BCSqGQgxRRhrH5TYC5SGws73RqgidCRQ2/sVVxdodlR0Hs= niels@nlnog'
'
