127.0.0.1   localhost

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

2001:1AF8:4013::24  master master.ring.nlnog.net sqa-collector.infra.ring.nlnog.net
95.211.149.24   master master.ring.nlnog.net sqa-collector.infra.ring.nlnog.net

193.0.11.4	rpki.ripe.net
2001:67c:2e8:25::c100:b04	rpki.ripe.net

# RING hosts
{% for host in groups['all']|sort %}
{% set short_id = host|regex_replace("\.ring\.nlnog\.net", "") %}
{% if hostvars[host]['V6']|default(None) %}
{{ hostvars[host]['V6'] }}    {{ host }} {{ short_id }}
{% endif %}
{% if hostvars[host]['V4']|default(None) %}
{{ hostvars[host]['V4'] }}    {{ host }} {{ short_id }}
{% endif %}
{% endfor %}

# Proxy hosts
{% if V4|default(None) == None %}
{{ proxy_github }} github.com public02.infra public02.infra.ring.nlnog.net
{{ proxy_pypi }} pypi.python.org public02.infra public02.infra.ring.nlnog.net
{{ proxy_rubygems }} api.rubygems.org public02.infra public02.infra.ring.nlnog.net
{% else %}
{{ proxy_github }} public02.infra.ring.nlnog.net public02.infra
{{ proxy_pypi }} public02.infra.ring.nlnog.net public02.infra
{{ proxy_rubygems }} public02.infra.ring.nlnog.net public02.infra
{% endif %}
