- name: "Install hugo"
  apt:
    name: hugo
    state: latest

- name: "Check out hugo source code repositories"
  git:
    repo: "{{ item.repo }}"
    dest: "/var/www/{{ item.name }}"
  with_items: "{{ hugo_sites|default([]) }}"
  become: yes
  become_user: www-data
  register: hugo_rebuild
  notify: hugo rebuild 

- name: "Copy toml"
  copy:
    src: /var/www/{{ item.name }}/config.toml.base
    dest: /var/www/{{ item.name }}/config.toml
    remote_src: "yes"
  with_items: "{{ hugo_sites|default([]) }}"
  when: hugo_rebuild.changed

- name: "Set base URL"
  lineinfile:
    path: /var/www/{{ item.name }}/config.toml
    regexp: '^baseURL = '
    insertbefore: BOF
    line: "baseURL = \"https://{{ item.name }}/\""
  with_items: "{{ hugo_sites|default([]) }}"
  when: hugo_rebuild.changed

- name: "Check out hugo theme repositories"
  git:
    repo: "{{ item.theme_repo }}"
    dest: "/var/www/{{ item.name }}/themes/{{ item.theme_name }}"
  with_items: "{{ hugo_sites|default([]) }}"
  become: yes
  become_user: www-data
  notify: hugo rebuild 

- name: "Install post tooting requirements"
  pip:
    name:
      - Mastodon.py
    state: present
    executable: pip3

- name: "Install post tooter"
  template:
    src=toot_hugo_post.j2
    dest=/usr/local/bin/toot_hugo_post
    owner=root
    group=root
    mode=0755

- name: "Install post monitor"
  copy:
    src=monitor_hugo_posts
    dest=/usr/local/sbin/monitor_hugo_posts
    owner=root
    group=root
    mode=0755
  notify: restart hugo post monitors

- name: "Add post monitor systemd services"
  template:
    src: "monitor_{{ item.name|replace('.', '_') }}_posts.service.j2"
    dest: "/etc/systemd/system/monitor_{{ item.name|replace('.', '_') }}_posts.service"
    owner: root
    group: root
    mode: 0644
  when: item.mastodon is defined
  with_items: "{{ hugo_sites|default([]) }}"
  notify:
    - reload systemd
    - restart hugo post monitors

- name: "Start post monitors"
  service:
    name: "monitor_{{ item.name|replace('.', '_') }}_posts"
    state: started
  when: item.mastodon is defined
  with_items: "{{ hugo_sites|default([]) }}"
