[Unit]
Description=Hugo post monitor

[Service]
Type=simple
ExecStart=/usr/local/sbin/monitor_hugo_posts "/usr/local/bin/tweet_hugo_post debug" /var/www/webdev.ring.nlnog.net/content/post

[Install]
WantedBy=multi-user.target
