# {{ ansible_managed }}
# ntpd configuration file, see ntpd.conf(5)

{% for server in ntp_servers %}
servers {{ server }}
{% endfor %}

# constraints don't work in debian's openntpd-portable, see
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=791534
# {% for constraint in ntp_constraints %}
# constraint from {{ constraint }}
# {% endfor %}
